* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: grey;
    background-color: grey;
}

.page {
    display: flex;
    margin-bottom: 10px;
    width: 60%;
    margin: auto;
    border: 1px solid grey;
    background-color: white;
    padding-right: 1%;
}

.hidden {
    display: none;
}

#left {
    width: 40%;
}

#right {
    margin-left: 5%;
    width: 60%;
}

#left .section {
    margin-left: 15%;
}

img {
    width: 100%;
}

.image-container {
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    width: 110%;
    color: white;
    font-size: .9em;
    background-color: rgba(132, 197, 203, 0.5);
    transition: transform .2s;
}

.name:hover{
    transform: scale(1.1);
}

.name h1, .name p{
    margin-left: 30px;
}

table {
    margin-left: 10%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #e2e2e2;
}

tr:first-of-type {
    border-top: 1px solid #e2e2e2;
}

.section {
    padding-bottom: 10%;
    transition: transform .2s;
}

.section:hover {
    transform: scale(1.1);
}

.content {
    padding: 5% 0;
}

ul {
    list-style-image: url('images/kunai-min-20.png');
    margin-left: 10%;
}

.title {
    color: #1C1D1F;
    border-bottom: 2px solid #84C5CB;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

td {
    padding: 10px;
    padding-right: 0;
}

.icon {
    color: 84C5CB;
}

.Sub {
    margin: 5% 0 0 0;
}

.reference .content {
    display: flex;
    justify-content: space-around;
}

.refrence .Sub{
    width: 50%;
}

.experties, .overview {
    padding-top: 10%;
}

@media only screen and (max-width: 1200px) {
    .page{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .page{
        display: block;
        width: 100%;
        /* padding: 2%; */
    }

    .hidden {
        display: block;
    }

    .visible {
        display: none;
    }

    table {
        margin: auto;
    }

    .section, #left .section {
        margin: 5% 5%;
        padding: 0;
    }
    .section:hover {
        transform: scale(1);
    }
    #left {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #right {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    img {
        width: 50%;
    }

    .name {
        width: 60%;
    }
    .overview{
        padding-top: 0;
    }

}

@media only screen and (min-width: 1800px) {
    .page {
        width: 30%;
    }
}